<% layout('layout/boilerplate') %>
<div class="container mt-3">
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <!-- offset-3 pentru a fi in mijlocul col-ului de 6 -->
        <div class="col-6 offset-3">
            <!-- novalidate pentru a opri browserul din a valida required-urile, in schimb bootstrap se va ocupa de ele -->
            <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <!-- Title input -->
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <!-- Required pentru a putea genera un mesaj client-size in cazul in care nu se completeaza campul -->
                    <input class="form-control" type="text" id="title" name="campground[title]" required>

                </div>
                <!-- Location input -->
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <!-- Required pentru a putea genera un mesaj client-size in cazul in care nu se completeaza campul -->
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                </div>

                <!-- Image input -->
                <div class="mb-3">
                    <label for="image" class="form-label">Images</label>
                    <input class="form-control" type="file" id="image" name="image" accept="image/*" multiple requiredA>
                </div>

                <!-- Price input -->
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <!-- Required pentru a putea genera un mesaj client-size in cazul in care nu se completeaza campul -->
                        <input id="price" type="text" class="form-control" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" required>
                    </div>
                </div>

                <!-- Description input -->
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <!-- Required pentru a putea genera un mesaj client-size in cazul in care nu se completeaza campul -->
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required></textarea>
                </div>
                <!-- Add input -->
                <div class="mb-3">
                    <button class="btn btn-success">Add Campground</button>
                </div>
                <a href="/campgrounds">All campgrounds</a>
            </form>
        </div>
    </div>
</div>
    <script>
        fileValidation = () => {
            const file = document.getElementById('image');
            if (!file.files.length){
                file.required = true
            }
        }
    </script>