

#cluster-map {
    width: 100%;
    height: 400px ;
}

#map {
    width: 100%;
    height: 300px;
}

.imgThumbnail {
    width: 415px;
    height: 250px;
}

@media (max-width: 991px) and (min-width: 768px) {
    .imgThumbnail {
        height: 278px;
    }
}

@media (max-width: 767px){
    .imgThumbnail {
        width: 514px;
    }
}